.header {
display: flex;
background-color: #2c8391;
}
.Facebook{ 
color: #faf6f4;
width: 90%;
margin-left: 50px;
}
.logout{
    color: #d7d6ee;
margin-top:10px;
padding: 5px;
width: 10%;
}
.all{
display: flex;
 width: 100%   
}
.left{
width: 30%
}
.center{
display: flex;
flex-direction: column;
margin-top: 20px;

width: 40%
}
.right{
width: 30%;
}
.string{
display: flex;
margin-top: 20px;
width: 100%;   

}
.input{
display: flex;   
padding-left: 400px; 

}
.select{
display: flex;   
padding-left: 475px; 
}
.button{
background-color: blue;
color: white;
}
.error{
height: 25px; 
color: red;
}
.buttonDiv{
border: red;
display: flex;
}